<md-dialog aria-label="{{model.startAP.name}}">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{model.startAP.name}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="img/close.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px;">
    <form>
      <div>
        <p>
          The following plan runs for {{model.startAP.totalWeeks}} weeks. Are you sure you with to start this training plan?
        </p>
        <p>
          <md-datepicker ng-model="model.planStartDate" md-placeholder="Enter date"></md-datepicker>
        </p>
      </div>
    </form>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="cancel()" >
      Cancel
    </md-button>
    <md-button ng-click="start()" class="md-accent" style="margin-right:20px;" >
      Start Training!
    </md-button>
  </div>
</md-dialog>