<div layout="row" layout-wrap layout-align="center center">
	<md-card ng-repeat="mp in model.myPlansSumm"  flex-gt-sm="90" flex-gt-md="80">
	  	<img ng-src="img/plans/{{mp.img}}" class="md-card-image" alt="plan header">
		<md-card-content id="card-{{mp.trainingId}}">
			<h2>{{mp.name}} <span class="smaller">(<span am-time-ago="mp.goalDate"></span>)</span></h2>
			<h3>Week {{mp.week}} of {{mp.totalWeeks}}</h3>
			<md-grid-list  md-cols-gt-md="7" md-cols-sm="2" md-cols-md="4"
		        md-row-height-gt-md="1:1" md-row-height="4:3"
		        md-gutter-gt-md="8px" md-gutter-sm="8px" md-gutter="4px">
      			<md-grid-tile ng-repeat="day in mp.currentWeek"
		          	md-colspan-gt-sm="1" md-rowspan-gt-sm="1"
		          	class="day" title="{{day.training.type || 'rest day'}}"
		          	ng-class="{ 'day-off': day.training == false, 'day-run' : day.training.type == 'run', 'day-long-run' : day.training.type == 'long-run', 
		          		'day-bike' : day.training.type == 'bike', 'day-swim' : day.training.type == 'swim', 'day-weights' : day.training.type == 'weights',
		          		'day-yoga' : day.training.type == 'yoga', 'day-finish' : day.training.type == 'finish',
		          		success : day.training.recorded && day.training.success, miss : day.training.recorded && day.training.success == false }">
		          	<div class="dow">{{day.dow}}</div>
		          	<div ng-if="!day.training.recorded" class="goal-time">{{day.training.goal.time}}</div>
		          	<div ng-if="day.training.recorded" class="goal-time">{{day.training.actual.time}}</div>
		          	<div ng-if="!day.training.recorded" class="goal-distance">{{day.training.goal.distance}}</div>
		          	<div ng-if="day.training.recorded" class="goal-distance">{{day.training.actual.distance}}</div>
		          	<md-button 
		          		ng-if="day.training != false" ng-click="model.openRecordWorkout($event, mp.trainingId, $index)"
		          		class="md-icon-button md-primary" ng-class="{ 'cursor-default' : day.training.recorded }" 
		          		aria-label="Settings">
					    <md-icon ng-if="day.training.recorded && day.training.success" class="success" md-svg-src="img/hit.svg" style="width: 75%; height: 75%;"></md-icon>
				  		<md-icon ng-if="day.training.recorded && day.training.success == false" class="miss" md-svg-src="img/miss.svg" style="width: 75%; height: 75%;"></md-icon>
					</md-button>
      			</md-grid-tile>
   			</md-grid-list>
	 	</md-card-content>
	 	<div class="md-actions" layout="row" layout-align="end center">
	   		<md-button ng-click="go('/my-plan/001')">view full plan</md-button>
	 	</div>
	</md-card>

	<md-card flex-gt-sm="90" flex-gt-md="80">
		<md-card-content layout="row" layout-wrap>
			<h2 flex="90">Start a new plan?</h2>
			<div ng-repeat="ap in model.availablePlans" layout-margin flex-sm="90" flex-gt-sm="40" flex-gt-md="40">
				<h3>{{ap.name}} <span class="smaller">({{ap.totalWeeks}} weeks)</span></h3>
				<md-grid-list  md-cols-gt-md="7" md-cols-sm="2" md-cols-md="4"
			        md-row-height-gt-md="1:1" md-row-height="4:3"
			        md-gutter-gt-md="8px" md-gutter-sm="8px" md-gutter="4px">
	      			<md-grid-tile  ng-repeat="type in ap.types"
			          	md-colspan-gt-sm="1" md-rowspan-gt-sm="1"
			          	class="day" title="{{type}}"
			          	ng-class="{ 'day-run' : type =='run','day-bike': type=='bike', 'day-swim': type=='swim', 'day-weights': type=='weights', 'day-yoga': type=='yoga' }">
	      			</md-grid-tile>
	   			</md-grid-list>
	   			<div class="md-actions" layout="row" layout-align="center center">
			   		<md-button ng-click="model.getStarted($event, ap.planId, $index)" class="md-accent">get training</md-button>
			 	</div>
   			</div>
	 	</md-card-content>
	 	
	</md-card>	
</div>